
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Turret+Road&display=swap');

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
body{
	margin: 00;
	background-color: lightblue;

	text-decoration:none;
}
header{
	background-color:#ffe0a3;
	color: black;
	padding: 8px 0px 6px 20px;
	height:45px;
}
header  h1{
	display: inline;
	font-family:   'Oswald', sans-serif;/*change later*/
    font-weight: 2000px;
    font-size: 38px;
    float: left;
    margin-top: 0px;
    margin-right:12px;



}
nav ul{
	display:inline;
	padding: 8px 0px 6px 20px;
	float:left;



}
nav ul li
{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 0px;

	
}
nav ul li a
{
	color:black;
	text-decoration:none;
	font-size: 25px;
padding: 8px 0px 20px 20px;
}
#nav { 
	 font-family: 'Poppins', sans-serif;
	 margin-bottom: 0px;
     font-weight:
}
.homered
{
	background-color: black;
	padding:  8px 0px 6px 20px;
	color: white;
}
.divider
{
	background-color: black;
	height:15px;
}
.homeblack:hover{
	background-color: black;
	padding:  8px 0px 6px 20px;
	color: white;
}
.fwimage1{
	background-image: shloka.jpeg;
	width: 100%;
	height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   margin:0;
   padding: 0;
}
.homesub{
font-family: 'Acme', sans-serif;
margin:0% 0% 0% 55%;

font-size:18px;
color:black ;

}
.homedes
{
	font-family:  'Acme', sans-serif;
	margin:0.5% 0% 0% 55%;
	font-size: 60px;
	color: black;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
}
 .homepho
 {
 	font-family: 'Oswald', sans-serif;
 	margin: 0% 0% 0% 55%;
 	font-size: 50px;
 	color: black;
 	display: inline-block;
 }  
.buttonhome{
	margin: 0% 0% 0% 55%;
	background-color: black;
    color: white;
    border:none;
    height:45px;
    font-size: 40px;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    font-family:  'Acme', sans-serif;
    font-weight: 900;
    display: inline-block;
   
}
.head
{ padding: 0px;
	margin: 0% 0% 0% 55%;
	background-color: black;
    color: white;
    border:none;
    height:45px;
    font-size:30px;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    font-family:  'Acme', sans-serif;
    font-weight: 900;
}
.detail
{
	
font-family:  'Acme', sans-serif;
	margin:0.5% 0% 0% 55%;
	font-size: 20px;
	color: black;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
}
	


}

/*about me wala part*/

